<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>Webside Server Information</title>
		<link rel="icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
        <h1 align="center"><font color = CoconutBrown>網站資料</font></h1>
	<h2 align="center"><font color = green>服務中</font></h2>

	伺服器管理員：　王建葦<br>
	管理員信箱：　<a href="mailto:pt.albertism@gmail.com">pt.albertism@gmail.com</a><br>
	最後更新時間：　2022/05/15(日)<br>
	伺服器狀態：　<font color = green>．RUNNING</font><br>
	主機名稱：　albert-36<br>
	主機系統：　Ubuntu 20.04<br>
	資料庫系統：　MySql Ver 8.0.27<br>
	主機叢集：　pvecluster/VM101/101<br>
	伺服器IP(內部)：　192.168.200.36<br>
	伺服器IP(外部)：　163.22.182.80<br>
	伺服器DNS：　albert-2.ptsh.ntct.edu.tw<br>
	通訊協定：　https<br>
	<h2 align = "center"><input type = "button" value = "回上一頁" style="width:120px;height:40px;font-size:20px;" onclick = "history.back()"></h2>
	</body>
</html>