<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>單字王測驗網</title>
    </head>
    <body>
        <h2 align = "center"><font color = CoconutBrown>學生資料查詢結果</font></h2>
        <h3 align = "center"><font color = Cornflowerblue>班　　級：　</font>{{Class}}</h3>
        <h3 align = "center"><font color = Cornflowerblue>英文組別：　</font>{{class_en}}</h3>
        <h3 align = "center"><font color = Cornflowerblue>分組教師：　</font>{{teacher_en}}</h3>
        <h3 align = "center"><font color = Cornflowerblue>座　　號：　</font>{{no}}</h3>
        <h3 align = "center"><font color = Cornflowerblue>學生證號：　</font>{{id}}</h3>
        <h3 align = "center"><font color = Cornflowerblue>姓　　名：　</font>{{name}}</h3>
        <h3><br></h3>
        
        <h2 align = "center"><input style="width:120px;height:40px;font-size:20px;" type = "button" value = "結束" onclick = "location.href = '/Search/Vocabulary' "></h2>
    </body>
</html>