<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>單字王測驗網</title>
    </head>
    <body>
        <h2 align="center"><font color = CoconutBrown>等級選擇</font></h2>
        <h3 align="center">><a href = "/User/Test/Level_1_3/Setting">Level 1~3</a></h3>
        <h3 align="center">><a href = "/User/Test/Level_4/Setting">Level 4</a></h3>
        <h3 align="center">><a href = "/User/Test/Level_5/Setting">Level 5</a></h3>
        <h3 align="center">><a href = "/User/Test/Level_6/Setting">Level 6</a></h3>
        <h3 align="center">><a href = "/User/Test/Level_4_6/Setting">Level 4~6</a></h3>
        <h3 align="center">><a href = "/User/Download/Windows/FOV9">下載桌面版(支援 Windows 8 以上)</a></h3>
        <h1></h1>
        <h3 align = "center"><font color = Cornflowerblue>姓名：　</font><font color = black>{{user_name}}</font>　　<h3 align = "center"><font color = Cornflowerblue>學生帳號：　</font><font color = black>{{user_id}}</font></h3></h3>
        <h4 align="center"><a href = "/User/Index/Error/Return">狀況回報</a></h4>
        <h2 align = "center"><input type = "button" value = "登出" style="width:120px;height:40px;font-size:20px;" onclick = "location.href = '/User/Logout' "></h2>
    </body>
</html>