<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>Albertism 校園無紙化線上教學計畫</title>
    </head>
    <body>
        <h1 align="center"><font color = CoconutBrown>選擇科目</font></h1>

        <h2 align="center"><a href = "/Vocabulary/User/Login">單字王測驗網</a></h2>
        <br>

        <h2 align="center"><a href = "/Search">學生資料查詢網</a></h2>
        <h4 align="center"><a href = "/Global/Error/Return">狀況回報</a></h4>
        <h4 align="center"><a href = "/Global/Privacy">隱私權保護政策</a></h4>
        <h2 align = "center"><input type = "button" value = "返回主機" style="width:120px;height:40px;font-size:20px;" onclick="location.href='http://123.51.150.9:10001/'"></h2>
    </body>
</html>
