<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>單字王測驗網</title>
    </head>
    <body>
        <h2 align = "center"><font color = CoconutBrown>錯誤回報完成</font></h2>
        <h3 align = "center">抱歉成您的不便</h3align>
        <h3 align = "center">管理員將盡快與您聯絡</h3>
        <h3 align = "center"><input type = "button" value = "確定" style="width:120px;height:40px;font-size:20px;" onclick = "location.href = '/Vocabulary/User/Index/Error/Return'"></h3>
    </body>
</html>