<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>單字王測驗網</title>
    </head>
    <body>
        <h1 align="center"><font color = CoconutBrown>使用者登出</font></h1>
        
        <h2 align = "center"><font color = Cornflowerblue>您確定要登出</font></h2>
        
        <h2 align = "center"><input type = "button" value = "取消" style="width:120px;height:40px;font-size:20px;" onclick = "history.back()"></h2>
        <h2 align = "center"><input type = "button" value = "登出" style="width:120px;height:40px;font-size:20px;" onclick = "location.href = '/' "></h2>
    </body>
</html>