<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>單字王測驗網</title>
    </head>
    <body>
        <h2 align="center"><font color = CoconutBrown>寄送錯誤報告</font></h2>
        <form action = "/Vocabulary/User/Login/Error/Return/Request" method="POST">
            <h3 align = "center"><font color = Cornflowerblue>請輸入您的正確姓名：　</font><input required type = "text" name = "name"/></h3>
            <h3 align = "center"><font color = Cornflowerblue>請輸入您的正確學號：　</font><input required type = "text" name = "id"/></h3>
            <h3 align = "center"><font color = Cornflowerblue>請輸入錯誤的內容：　</font><input required type = "text" name = "problem"/></h3>
            <h2 align = "center"><button style="width:120px;height:40px;font-size:20px;"> 送出 </button></h2>
        </form>
        <h3 align = "center"><input type = "button" value = "返回" style="width:120px;height:40px;font-size:20px;" onclick = "location.href = '/Vocabulary/User/Login'"></h3>
        <h3 align = "center">您也可以使用下面的Google表單進行回復</h3>
        <h4 align = "center"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf0BKZZ3bk3UoT1ncO-HmWv7wzDVQRvM1zezrRbISHMrL9uIw/viewform?embedded=true" width="640" height="650" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe></h4>
    </body>
</html>