<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>單字測驗</title>
    </head>
    <body>
        <h2 align = "center"><font color = CoconutBrown>單字測驗</font></h2>
        <h3 align = "center"></h3align>第 {{no}} 題</h3>
        <h3 align = "center"><font color = Cornflowerblue>中文：　</font>{{chinese}}</h3>
        <form action = /User/Test/Answer>
            <h3 align = "center"><font color = Cornflowerblue>答案：　</font><input autofocus type = "text" name = "ans"/></h3>
            <h3><br></h3>
            <h2 align = "center"><button style="width:120px;height:40px;font-size:20px;"> 確定 </button></h2>
        </form>
        
    </body>
</html>