<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>版權聲明</title>
    </head>
    <body>
        <h2 align = "center"><font color = CoconutBrown>版權聲明</font></h2>
        <h3 align = "center"><font color = Cornflowerblue>版權擁有者：　</font><font color = black>王建葦</font></h3>
        <h3 align = "center"><font color = Cornflowerblue>使用權擁有者：　</font><font color = black>曾國彰</font></h3>
        <h2 align = "center"><font color = Cornflowerblue>聲明</font></h2>
        <h3 align = "center">任何人、組織不得於未經認證之下使用本網站，否則一律視為盜用須負起民事、刑事與智慧財產權之相關處罰。</h3>
        <h3 align = "center">一經查獲非本公司認證之使用者一律依法送辦，無論是否知情一律視為侵權使用。</h3>
        <h3 align = "center">若授權使用者未依規定使用則視為違反使用約定，依合約之規定逕行後續違約處理。</h3>
        <h3 align = "center"><font color = Cornflowerblue>版本：</font>Formal 4.0.0 </h3>
        <h3 align = "center"><a href = "/單字王測驗網網站資訊暨著作權宣告.pdf">權力宣告</a></h3>
        <h3 align = "center"><input type = "button" value = "返回" style="width:120px;height:40px;font-size:20px;" onclick = "history.back()"></h3>
    </body>
</html>