<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>學生資料查詢入口</title>
    </head>
    <body>
        <h2 align = "center"><font color = CoconutBrown>資料管理</font></h2>
        <h3 align = "center"></h3align>使用者資料查詢</h3>
        <form action = "/Search/Math/Search" method="POST">
            <h3 align = "center"><font color = Cornflowerblue>姓名：　</font><input required type = "text" name = "name"/></h3>
            <h2 align = "center"><button style="width:120px;height:40px;font-size:20px;"> 送出 </button></h2>
        </form>
        <h2 align = "center"><input type = "button" value = "科目目錄" style="width:120px;height:40px;font-size:20px;" onclick = "location.href = '/Search/Index' "></h2>
    </body>
</html>