<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>身分確認</title>
    </head>
    <body>
        <h2 align = "center"><font color = CoconutBrown>資料管理</font></h2>
        <h3 align = "center"></h3align>身分確認</h3>
        <h3 align = "center"><font color = Cornflowerblue>姓名：　</font><font color = black>{{user_name}}</font></h3>
        <h3 align = "center"><font color = Cornflowerblue>學號：　</font><font color = black>{{user_id}}</font></h3>
        <h2 align = "center"><input type = "button" value = "確定" style="width:120px;height:40px;font-size:20px;" onclick = "location.href = '/Vocabulary/User/Login/Online/Show' "></h2>
        <h2 align = "center"><input type = "button" value = "錯誤" style="width:120px;height:40px;font-size:20px;" onclick = "location.href = '/Vocabulary/User/Login' "></h2>
    </body>
</html>