<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>測驗開始準備</title>
    </head>
    <body>
        <h2 align = "center"><font color = CoconutBrown>測試即將開始</font></h2>
        <h3 align = "center"></h3align>準備好測驗後就按下開始進行測驗</h3>
        <h2 align = "center"><input style="width:120px;height:40px;font-size:20px;" type = "button" value = "確定" onclick = "location.href = '{{path}}' "></h2>
        <h2 align = "center"><input style="width:120px;height:40px;font-size:20px;" type = "button" value = "取消" onclick = "location.href = '/Vocabulary/User/Index' "></h2>
    </body>
</html>